<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css">
</head>
<body>
    <p class="heading">Registration</p>
    <div class="Registraion">
    <form method="post" action="">

    <span class="fontawesome-user"></span><input type="text" required placeholder="Username" autocomplete="off"> 
    <span class="fontawesome-envelope-alt"></span><input type="text" id="email" required placeholder="Email" autocomplete="off">
    <span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="Password" autocomplete="off"> 
	<input type="submit" value="Continue" title="Continue">
</body>
</html>